<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
    </head>
    <body>
        <!--inline[../../common/page/header.ejs]-->
        <div class=''>

        </div>
        <!--inline[../../common/page/footer.ejs]-->
        <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>