<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="webkit" name="renderer">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.1.0/css/font-awesome.min.css">
<style>
	@media (min-width: 0px) {
		.container {
		    min-width: 1080px;
		}
	}

	@media (min-width: 1200px) {
		.container {
		    width: 1080px;
		}
	}

	@media (min-width: 992px) {
		.container {
		    width: 1080px;
		}
	}

	@media (min-width: 768px) {
		.container {
		    width: 1080px;
		}
	}

	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,p,th,td {
		font-family: 'STXihei', 'STHeiti Light','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important;
		font-weight: lighter;
	}
	body {
		padding: 0;
		margin: 0;
	}
</style>
<script>
	window.onload = function(){
        var browser = navigator.appName,
            b_version = navigator.appVersion,
            version = b_version.split(";"),
            trim_Version = version[1].replace(/[ ]/g,""); 
        if(browser == "Microsoft Internet Explorer" && (trim_Version == "MSIE6.0" || trim_Version == "MSIE7.0" || trim_Version == "MSIE8.0" || trim_Version == "MSIE9.0")){ 
            alert("你当前浏览器无法正常加载页面，请升级浏览器");
            window.location.href = 'https://browsehappy.com/';
            return false;
        } 
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?782c75c0cdcb17342ab463187fb854ee";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

        <!-- 
            @require "nodeExcel/static/index.js"
         -->
    </head>
    <body>
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <a id="exportExcel" href="/nodeExcel/export" class="btn btn-success btn-xs">导出excel</a> 
                         <!-- <a id="exportExcel" class="btn btn-success btn-xs">导出excel</a>  -->
                    </div>
                    <hr>

                    <div class="col-xs-12" id="areaDistribute_table" style="display: block">
                        <table class="table table-condensed" id="areaDistribute_list">
                            <tbody>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                    
                                </tr>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                </tr>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                    
                                </tr>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<script src="/static/nodeExcel/index_aa1ae85.js"></script>

    </body>
</html>