.footer {
  padding:15px 0;
  background-color: #444;
  color: rgba(255, 255, 255, 0.4); 
}
.footer .topReturn {
  cursor:pointer;
  position:fixed;
  bottom:100px;
  right:50px;
  z-index:999
}
.footer .top {
	width:100%;
	margin:10px auto;
	display:table;
}
.footer .top div {
	display:table-cell;
	vertical-align:middle;
}
.footer .top div span {
  font-size:15px;
}
.footer .top div.dian {
	margin:15px auto;
}
.footer .copyright {
  background-color:#353535;
  font-size:15px;
}
.footer .copyright > .container {
  padding: 17px 0;
  color: rgba(255, 255, 255, 0.4);
}
.footer .copyright > .container > a {
  color: rgba(255, 255, 255, 0.4) !important;
}
.footer .copyright > .container > a:hover {
  color: #fff !important;
}
.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}