<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
         -->
    </head>
    <body>
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <a id="exportExcel" href="/nodeExcel/export" class="btn btn-success btn-xs">导出excel</a> 
                         <!-- <a id="exportExcel" class="btn btn-success btn-xs">导出excel</a>  -->
                    </div>
                    <hr>

                    <div class="col-xs-12" id="areaDistribute_table" style="display: block">
                        <table class="table table-condensed" id="areaDistribute_list">
                            <tbody>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                    
                                </tr>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                </tr>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                    
                                </tr>
                                <tr>
                                    <td>渠道</td>
                                    <td>rcd_type</td>
                                    <td>省份</td>
                                    <td>日期</td>
                                    <td>总人数</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>