<!DOCTYPE HTML>
<html>
<head>
	<!--inline[../../common/page/head.ejs]-->
        <!-- 
			@require "../../common/static/lib/validator.js"
			@require "../static/index.js"
            @require "../static/index.css"
        -->
</head>
<body>
	<!--inline[../../common/page/header.ejs]-->
	<div class="container bak">
		<div class="col-xs-12">
			<div class="panel">
				<div class='panel-heading'>
					<h2>请注册</h2>
				</div>
				<div class='panel-body' style='margin: 50px 30px 70px 30px;'>
					<div class='text-left col-xs-6'>
						<form action="/account/register" method="post" id="reg">
							<div class="form-group">
								<label for="username">*&nbsp;用户名：</label>
								<input type="text" class="form-control username" name="username" id='username' placeholder="请输入邮箱">
							</div>
							<div class="form-group">
								<label for="passwd">*&nbsp;密码：</label>
								<input type="password" name="passwd" class="form-control passwd" id='passwd' placeholder="密码*">
							</div>
							<div class="form-group">
								<label for="rePasswd">*&nbsp;确认密码：</label>
								<input type="password" name="rePasswd" class="form-control rePasswd" id='rePasswd' placeholder="确认密码*">
							</div>
							<div class="form-group" style='padding:15px 0 20px 0;'>
								<div class='col-xs-3' style='padding-left:0;padding-right:0;'>
									<label for="gender">*&nbsp;性别：</label>
								</div>
								<div class='col-xs-3'>
									<input type="radio" value="男" name="gender" class='gender'/> &nbsp;&nbsp;男
								</div>
								<div class='col-xs-3'>
									<input type="radio" value="女" name="gender" class='gender' checked/>&nbsp;&nbsp;女
								</div>
								<div class='col-xs-3' style='padding-left:0;padding-right:0;'>
									<input type="radio" value="保密" name="gender" class='gender'/>&nbsp;&nbsp;性别不重要
								</div>
							</div>
							<div class="form-group">
								<label for="phone">*&nbsp;留电话?：</label>
								<input type="text" name="phone" class="form-control phone" placeholder="电话">
							</div>
							<div class="form-group">
								<label for="qq">*&nbsp;或QQ？：</label>
								<input type="text" name="qq" class="form-control qq" placeholder="扣扣">
							</div>
							<div class="text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
								<span class='errInfo'></span>
							</div>
							<div class='form-group text-center'>
								<input type="hidden" name="_csrf" value="<%-locals._csrf%>">						
								<button type='submit' class="btn btn-success register" style='color:#fff;padding:8px 20px;'>立即注册</button>
							</div>
						</form>
					</div>
					<div class='text-right col-xs-6' style='margin:0'>
						<img src='../static/image/reg.png' class='img-responsive center-block'>
					</div>
				</div>
			</div>
			<div>
				<div class='col-xs-6'>
					<button type='button' class="btn btn-danger cancel" style='color:#fff;padding:8px 20px;margin-left:15px;'>取消</button>
				</div>
				<div class='col-xs-6 text-right' style='line-height:38px;'>
					<span>如果您遇到问题，欢迎随时提问：<b class='glyphicon glyphicon-earphone'></b>13332933071</span>
				</div>
			</div>
		</div>
	</div>
	<!--inline[../../common/page/footer.ejs]-->
    <!--inline[../../common/page/foot.ejs]-->
</body>
</html>