<!DOCTYPE HTML>
<html>
<head>
	<!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
</head>
<body>
	<!--inline[../../common/page/header.ejs]-->
	<div class="container bak">
		<div class="col-xs-12">
			<div class="panel">
				<div class='panel-heading'>
					<h2>更新图片信息</h2>
				</div>
				<div class='panel-body' style='margin: 70px 30px 70px 30px;'>
					<div class='text-left col-xs-6'>
						<form action="/console/admin/upload" method="post" id="upload">
							<div class="form-group">
								<label for="picUrl">图片路径：</label>
								<input type="text" class="form-control picUrl" name="picUrl" id='picUrl' placeholder="填写图片路径">
							</div>
							<div class="form-group">
								<label for="picName">商品名字：</label>
								<input type="text" name="picName" class="form-control picName" id='picName' placeholder="填写商品名称">
							</div>
							<div class="form-group">
								<label for="picPrice">商品价格：</label>
								<input type="text" name="picPrice" class="form-control picPrice" id='picPrice' placeholder="填写商品价格">
							</div>
							<div class="text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
								<span class='errInfo'></span>
							</div>
							<div class='form-group text-center'>
								<input type="hidden" name="_csrf" value="<%-locals._csrf%>">			
								<button type='button' class="btn btn-success upload" style='color:#fff;padding:8px 20px;'>更新信息</button>
							</div>
						</form>
					</div>
					<div class='text-right col-xs-6'>
						<img src='../../account/static/image/login.png' class='img-responsive center-block'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--inline[../../common/page/footer.ejs]-->
    <!--inline[../../common/page/foot.ejs]-->
</body>
</html>