<!--
    @require "../static/css/footer.css"
-->
<div class="footer">
    <div class="container" style="padding: 0;">                
        <div class="row contact">
            <div>
                <h4 class="title"><a href="/other/index"><span>关于</span>我们</a></h4>
                <ul class="list-inline">
                    <li><a href="/other/?type=1">公司简介</a></li>
                    <li><a href="/other/?type=1#groups">管理团队</a></li>
                </ul>
                <ul class="list-inline">
                    <li style="margin-right: 16px;"><a href="/other/?type=38">派派猪乐园</a></li>
                    <li><a href="/other/?type=2">人才招聘</a></li>
                </ul>
            </div>
            <div>
                <h4 class="title"><a href="/doc/help"><span>帮助</span>中心</a></h4>
                <ul class="list-inline">
                    <li><a href="/doc/xszn" target="_blank">新手指南</a></li>
                    <li><a href="/doc/help#questions">常见问题</a></li>
                </ul>
                <ul class="list-inline">
                    <li><a href="/doc/aqbz" target="_blank">风险控制</a></li>
                </ul>
            </div>

            <div style="margin-right: 48px;">
                <h4 class="title">客服热线</h4>
                <h1 style="font-size: 16px; margin-bottom: 6px;">4000-689-360</h1>
                <h3 style="margin-bottom: 15px; font-size: 14px; color: rgba(255,255,255,0.6);">(8:30~18:00)</h3>
                <ul class="list-inline join">
                    <li>
                        <a rel="nofollow" href="https://weibo.com/5371061117/profile"><span>关注微博</span><img src="../static/image/ico_weibo_.png"></a>
                    </li>
                    <li>
                        <a rel="nofollow" href="https://shang.qq.com/wpa/qunwpa?idkey=9282c8eca70dded38999d60812fb62e91b4d4ae02cb5442948b97175a0d5721c"><span>加入&nbsp;Q&nbsp;群</span><img src="../static/image/ico_qq_.png"></a>
                    </li>
                </ul>
            </div>
            <div>
                <img src="../static/image/QR_Code_.png" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="friend-link">
        <div class="container">
            友情链接：
            <a rel="nofollow" href="http://www.wangdaizhijia.com" target="_blank">网贷之家</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a rel="nofollow" href="http://www.p2peye.com" target="_blank">网贷天眼</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a rel="nofollow" href="http://www.51wangdai.com/" target="_blank">51网贷</a>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container">
            &copy; 2014 广州易票宝互联网金融信息服务有限公司 版权所有. <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备 14073354-2 号</a>
            <p style="margin-top: 16px; margin-bottom: 0;">理财有风险 投资须谨慎</p>
        </div>
    </div>
</div>