<!--
    @require "../static/css/footer.css"
    @require "../static/js/footer.js"
-->
<div class="footer">
    <!-- 侧边栏的qq交谈 -->
    <div class='' style='position:fixed;right:0;bottom:50%;z-index:9999;'>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1686622658&site=qq&menu=yes">
            <img border="0" src="http://wpa.qq.com/pa?p=2:1686622658:53" alt="在线购物，合作洽谈，与我联系" title="在线购物，合作洽谈，与我联系"/>
        </a>
    </div>
    <div class='topReturn'>
        <img class='img-responsive center-block' src='../static/image/top.png'>
    </div>
    <div class='top'>
        <div class="col-xs-4 text-left" style='padding-left:16.5%;'>
                <h5>客服热线：xxx</h5>
                <h5>沟通邮箱：xxx@qq.com<img src="../static/image/mail_ico.png"></h5>
                <h5>沟通QQ：xxx<img src="../static/image/ico_qq_.png"></h5>
        </div>
        <div class="col-xs-4 text-center dian">
            <h5>淘宝店铺：
                <a href='https://shop506028910.taobao.com/?spm=a230r.7195193.1997079397.56.XdptFD' target='_blank'><ins>小柒 海外购</ins>
                </a>
            </h5>
        </div>
        <div class="col-xs-4 text-center">
            <h4>工作时间：</h4>
            <h5>周一至周五：9:00 ～ 21:00</h5>
            <h5>周六至周日：0:00 ～ 24:00</h5>
        </div>
    </div>
        
    <div class="copyright text-center">
        <div class="container">
            &copy; 2017 xxxx 版权所有. <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备 xxxx号</a>
        </div>
    </div>
</div>