<!--
    @require "../static/css/footer.css"
-->
<div class="footer">
    <div style="text-center">
        <h4 class="title">客服热线</h4>
        <h1 style="font-size: 16px; margin-bottom: 6px;">4000-689-360</h1>
        <h3 style="margin-bottom: 15px; font-size: 14px; color: rgba(255,255,255,0.6);">(8:30~18:00)</h3>
        <ul class="list-inline join">
            <li>
                <a rel="nofollow" href="https://weibo.com/5371061117/profile"><span>关注微博</span><img src="../static/image/ico_weibo.png"></a>
            </li>
            <li>
                <a rel="nofollow" href="https://shang.qq.com/wpa/qunwpa?idkey=9282c8eca70dded38999d60812fb62e91b4d4ae02cb5442948b97175a0d5721c"><span>加入&nbsp;Q&nbsp;群</span><img src="../static/image/ico_qq.png"></a>
            </li>
        </ul>
    </div>
    <div class="copyright text-center">
        <div class="container">
            &copy; 2017 浩华潮流时装工作室 版权所有. <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备 17042595号</a>
        </div>
    </div>
</div>