<!--
    @require "../static/css/footer.css"
-->
<div class="footer">
    <div class='top'>
        <div class="col-xs-4 text-center">
            <h5>客服热线：4000-689-360</h5>
            <span>新浪微博：xxxx</span><img src="../static/image/ico_weibo_.png">
            <span>QQ：12345678</span><img src="../static/image/ico_qq_.png">
        </div>
        <div class="col-xs-4 text-center dian">
            <h5>淘宝店铺：
                <a href='https://shop506028910.taobao.com/?spm=a230r.7195193.1997079397.56.XdptFD' target='_blank'><ins>小柒 海外购</ins>
                </a>
            </h5>
        </div>
        <div class="col-xs-4 text-center">
            <h5>周一至周五：9:00 ～ 21:00</h5>
            <h5>周六至周日：0:00 ～ 24:00</h5>
        </div>
    </div>
        
    <div class="copyright text-center">
        <div class="container">
            &copy; 2017 浩华潮流时装工作室 版权所有. <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备 17042595号</a>
        </div>
    </div>
</div>