body {
	background-color: #f1f1f1;
}
.bak {
	background:#fff;
	margin: 150px auto;
	width:15%;
	padding:30px 30px;
	border:1px solid #eee;
	border-left-color: #ccc;
	border-right-color: #ccc;
	border-radius: 10px;
}
.log {
	margin:0 90px;
}




