<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
    </head>
    <body>
        <!--inline[../../common/page/header.ejs]-->
        <%var bagResult_ = locals.bagResult ? locals.bagResult : []%>
        <%var bagsArr_ = locals.bagsArr ? locals.bagsArr : []%>
        <div class='container'>
            <div class='text-center ladyClothes'  style='height:800px;'>
                <%if(bagResult_.length == 0) {%>
                    <div class='col-xs-12 text-center' data-no='' style='margin-top:200px;font-size:24px;'>
                        <span>商品即将上架，敬请期待</span>
                    </div>
                <%}else {%>
                    <% bagResult_.forEach(function(data, i) {%>
                        <div class='col-xs-3 text-center' data-no='<%= i%>'>
                            <img class='img-responsive center-block' src='<%= bagsArr_[i]%>'>                         
                            <div class="text-center row opaModel">
                                <p class="text-center"><%= data.picName%></p>
                                <p class="text-center">¥<%= data.picPrice%></p>
                            </div>
                            <div class='text-center buy'>
                                <button type='button' class='btn btn-default'>购买</button>
                            </div>
                        </div>
                    <%})%>
                <%}%>                
            </div>
        </div>
        <!--inline[../../common/page/footer.ejs]-->
        <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>