<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
    </head>
    <body>
        <!--inline[../../common/page/header.ejs]-->
        <div class='container'>
            <div style='width:1080px;height:400px;background-color:#333;'></div>
            <div style='width:1080px;height:400px;background-color:#ff0;'></div>
            <div style='width:1080px;height:400px;background-color:#f0f;'></div>
            <div style='width:1080px;height:400px;background-color:#cfdf80;'></div>
        </div>
        <!--inline[../../common/page/footer.ejs]-->
        <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>