<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!-- 
            @require "../static/index.js"
            @require "../static/index.css"
        -->
    </head>
    <body>
        <!--inline[../../common/page/header.ejs]-->
        <%var clothesArr = locals.clothesArr%>
        <div class='container'>
            <div class='text-center ladyClothes'>
                <% clothesArr.forEach(function(data, i) {%>
                <div class='col-xs-3 text-center' data-no='<%= i%>'>
                    <img class='img-responsive center-block' src='<%= data.picUrl%>'>                         
                    <div class="text-center row opaModel">
                        <p class="text-center"><%= data.picName%></p>
                        <p class="text-center">¥<%= data.picPrice%></p>
                    </div>
                    <div class='text-center buy'>
                        <button type='button' class='btn btn-default'>购买</button>
                    </div>
                </div>
                <%})%>                
            </div>
        </div>
        <!--inline[../../common/page/footer.ejs]-->
        <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>