body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
/*.banner .b-img a.one {
  background:url('./image/pic_scroll/banOne.jpg') center no-repeat;
}
.banner .b-img a.second {
  background:url('./image/pic_scroll/banTwo.jpg') center no-repeat;
}
.banner .b-img a.three {
  background:url('./image/pic_scroll/banThree.jpg') center no-repeat;
}*/
div.banner {
  position:relative;
}
div.top_pic {
  position:absolute;
  top:846px;
  left:0;
}
div.container .opa {
  margin: 50px 0 50px 0;
}
div.container div.opaModel {
  display:none; 
  width:92%;
  height:60px;
  background-color:#333;
  opacity:0.8;
  margin:0 0 0 15px;
  position: absolute;
  bottom:0;
  left:0;
  z-index:999;
}
div.container div.opaModel p {
  color:#fff;
  font-size:15px;
  padding:0 0;
  margin:0 0;
}
div.container div.opaModel p:first-child {
  margin-top:10px;
}
div.container .child_cloth,.shoes,.bag {
  margin-top: 50px;
}
div.container .opa div.buy {
  width:100%;
  position:absolute;
  bottom:-60px;
  left:0;
}
div.container .opa div.buy button{
  font-size:16px;
  border-radius:5px;
  color: #333;
  border-color: #6d6d6d;
  background: #fff;
  padding-left:30px;
  padding-right:30px;
}

