<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="webkit" name="renderer">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.1.0/css/font-awesome.min.css">
<style>
	@media (min-width: 0px) {
		.container {
		    min-width: 1180px;
		}
	}

	@media (min-width: 1200px) {
		.container {
		    width: 1180px;
		}
	}

	@media (min-width: 992px) {
		.container {
		    width: 1180px;
		}
	}

	@media (min-width: 768px) {
		.container {
		    width: 1180px;
		}
	}

	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,p,th,td {
		font-family: 'STXihei', 'STHeiti Light','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important;
		font-weight: lighter;
	}
	body {
		padding: 0;
		margin: 0;
	}
</style>
<script>
	window.onload = function(){
        var browser = navigator.appName,
            b_version = navigator.appVersion,
            version = b_version.split(";"),
            trim_Version = version[1].replace(/[ ]/g,""); 
        if(browser == "Microsoft Internet Explorer" && (trim_Version == "MSIE6.0" || trim_Version == "MSIE7.0" || trim_Version == "MSIE8.0" || trim_Version == "MSIE9.0")){ 
            alert("你当前浏览器无法正常加载页面，请升级浏览器");
            window.location.href = 'https://browsehappy.com/';
            return false;
        } 
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?782c75c0cdcb17342ab463187fb854ee";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="/static/product/index_d41d8cd.css" rel="stylesheet">
<link href="/static/common/css/header_c803540.css" rel="stylesheet">
<link href="/static/common/css/footer_02ce274.css" rel="stylesheet">

        <!-- 
            @require "product/static/index.js"
            @require "product/static/index.css"
        -->
    </head>
    <body>
        <!--
    @require "common/static/css/header.css"
    @require "common/static/js/header.js"
-->
<% var uInfo = locals.userInfo %>
<div class="navbar navbar-inverse" id='navigation' role="navigation">
    <div class="navbar-inner">
        <div class="container">  <!-- 如果此处换成class="container"，那么导航栏内容就会居中。 -->
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">浩华潮流时装</a>
            </div>
            <div class="content" style='width: 100%;margin-left: 20%;'>
                <ul class="nav navbar-nav" style='width: 100%;'>
                    <li <% if (locals.index == 'index') {%> class="active" <%}%>><a href="/">首页</a></li>
                    <li <% if (locals.womenCloth == 'womenCloth') {%> class="active" <%}%>><a href="/product/womenCloth">时尚女装</a></li>
                    <li <% if (locals.womenBag == 'womenBag') {%> class="active" <%}%>><a href="/product/womenBag">潮流女包</a></li>
                    <li <% if (locals.womenShoes == 'womenShoes') {%> class="active" <%}%>><a href="/product/womenShoes">前卫女鞋</a></li>
                    <li <% if (locals.childCloth == 'childCloth') {%> class="active" <%}%>><a href="/product/childCloth">酷帅儿童装</a></li>
                    <li id='contact' class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">联系客服<span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">QQ号：12345678</a></li>
                            <li><a href="javascript:void(0)">微信号：12345678</a></li>
                            <li><a href="javascript:void(0)">联系方式：15989235164</a></li>
                            <li><a href="javascript:void(0)">电子邮箱：123456894@qq.com</a></li>
                        </ul>
                    </li>
                    <% if(uInfo) {%>
                        <li id='logout' class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                                 欢迎您，<ins><%= uInfo.username%><%=uInfo.gender != '保密' ? uInfo.gender == '男' ? '先生' : '女士' : ''%></ins><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li style='margin:0;font-size:18px;'><a href="/account/logout">退出</a></li>
                            </ul>
                        </li>
                    <%}else {%>
                        <li <% if (locals.login == 'login') {%> class="active" <%}%>><a href="/account/login">登录</a></li>
                        <li <% if (locals.reg == 'reg') {%> class="active" <%}%>><a href="/account/register">注册</a></li>
                    <%}%>
                    <li class='search'> 
                        <input name="search" type="text" id="search" placeholder="查询">                       
                        <a id='searchInput' class='glyphicon glyphicon-search' href="javascript:void(0)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <div class='container'>
            <div style='width:1080px;height:400px;background-color:#333;'></div>
            <div style='width:1080px;height:400px;background-color:#ff0;'></div>
            <div style='width:1080px;height:400px;background-color:#f0f;'></div>
            <div style='width:1080px;height:400px;background-color:#cfdf80;'></div>
        </div>
        <!--
    @require "common/static/css/footer.css"
-->
<div class="footer">
    <div class='top'>
        <div class="col-xs-4 text-center">
            <h5>客服热线：4000-689-360</h5>
            <span>新浪微博：xxxx</span><img src="/static/common/image/ico_weibo__b88851a.png">
            <span>QQ：12345678</span><img src="/static/common/image/ico_qq__e008ea7.png">
        </div>
        <div class="col-xs-4 text-center dian">
            <h5>淘宝店铺：
                <a href='https://shop506028910.taobao.com/?spm=a230r.7195193.1997079397.56.XdptFD' target='_blank'><ins>小柒 海外购</ins>
                </a>
            </h5>
        </div>
        <div class="col-xs-4 text-center">
            <h5>周一至周五：9:00 ～ 21:00</h5>
            <h5>周六至周日：0:00 ～ 24:00</h5>
        </div>
    </div>
        
    <div class="copyright text-center">
        <div class="container">
            &copy; 2017 浩华潮流时装工作室 版权所有. <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备 17042595号</a>
        </div>
    </div>
</div>
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<script src="/static/product/index_d41d8cd.js"></script>
<script src="/static/common/js/header_6578a2d.js"></script>

    </body>
</html>