.footer {
  margin:30px auto;
  background-color: #444;
  color: #fff;
}
.footer .copyright > .container {
  padding: 17px 0;
  color: rgba(255, 255, 255, 0.4);
}
.footer .copyright > .container > a {
  color: rgba(255, 255, 255, 0.4) !important;
}
.footer .copyright > .container > a:hover {
  color: #fff !important;
}
.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}