#navigation {
    margin-top: 50px;
    color: #fff;
}
.navbar-brand {
    font-size: 24px;
}
.navbar-responsive-collapse {
    width: 100%;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
}
.dropdown {
    /* margin-left: 10%; */
}