#navigation {
    color: #fff;
}
.navbar-brand {
    font-size: 24px;
}
.content {   
    font-size: 18px;
}
#contact {
     margin-left: 15%; 
}
#contact ul.dropdown-menu li {
    border-bottom:1px solid #eee;
    padding:10px 0;
}
#contact ul.dropdown-menu li:last-child {
    border-bottom:0;
}
.search {
    position:relative;
}