#navigation {
    margin-top: 50px;
    color: #fff;
}
.navbar-brand {
    font-size: 24px;
}
.navbar-responsive-collapse {
    font-size: 18px;
    margin:0 auto;
    text-align: center;
}
.dropdown {
    /* margin-left: 10%; */
}