<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="webkit" name="renderer">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.1.0/css/font-awesome.min.css">
<style>
	@media (min-width: 0px) {
		.container {
		    min-width: 1180px;
		}
	}

	@media (min-width: 1200px) {
		.container {
		    width: 1180px;
		}
	}

	@media (min-width: 992px) {
		.container {
		    width: 1180px;
		}
	}

	@media (min-width: 768px) {
		.container {
		    width: 1180px;
		}
	}

	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,p,th,td {
		font-family: 'STXihei', 'STHeiti Light','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important;
		font-weight: lighter;
	}
	body {
		padding: 0;
		margin: 0;
	}
</style>
<script>
	window.onload = function(){
        var browser = navigator.appName,
            b_version = navigator.appVersion,
            version = b_version.split(";"),
            trim_Version = version[1].replace(/[ ]/g,""); 
        if(browser == "Microsoft Internet Explorer" && (trim_Version == "MSIE6.0" || trim_Version == "MSIE7.0" || trim_Version == "MSIE8.0" || trim_Version == "MSIE9.0")){ 
            alert("你当前浏览器无法正常加载页面，请升级浏览器");
            window.location.href = 'https://browsehappy.com/';
            return false;
        } 
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?782c75c0cdcb17342ab463187fb854ee";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="/static/account/index_a43549e.css" rel="stylesheet">
<link href="/static/common/css/header_c803540.css" rel="stylesheet">
<link href="/static/common/css/footer_492684a.css" rel="stylesheet">

        <!-- 
			@require "common/static/lib/validator.js"
			@require "account/static/index.js"
            @require "account/static/index.css"
        -->
</head>
<body>
	<!--
    @require "common/static/css/header.css"
    @require "common/static/js/header.js"
-->
<% var uInfo = locals.userInfo %>
<div class="navbar navbar-inverse" id='navigation' role="navigation">
    <div class="navbar-inner">
        <div class="container">  <!-- 如果此处换成class="container"，那么导航栏内容就会居中。 -->
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">浩华潮流时装</a>
            </div>
            <div class="content" style='width: 100%;margin-left: 20%;'>
                <ul class="nav navbar-nav" style='width: 100%;'>
                    <li <% if (locals.index == 'index') {%> class="active" <%}%>><a href="/">首页</a></li>
                    <li <% if (locals.womenCloth == 'womenCloth') {%> class="active" <%}%>><a href="/product/womenCloth">时尚女装</a></li>
                    <li <% if (locals.womenBag == 'womenBag') {%> class="active" <%}%>><a href="/product/womenBag">潮流女包</a></li>
                    <li <% if (locals.womenShoes == 'womenShoes') {%> class="active" <%}%>><a href="/product/womenShoes">前卫女鞋</a></li>
                    <li <% if (locals.childCloth == 'childCloth') {%> class="active" <%}%>><a href="/product/childCloth">酷帅儿童装</a></li>
                    <li id='contact' class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">联系客服<span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">QQ号：12345678</a></li>
                            <li><a href="javascript:void(0)">微信号：12345678</a></li>
                            <li><a href="javascript:void(0)">联系方式：15989235164</a></li>
                            <li><a href="javascript:void(0)">电子邮箱：123456894@qq.com</a></li>
                        </ul>
                    </li>
                    <% if(uInfo) {%>
                        <li id='logout' class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                                 欢迎您，<ins><%= uInfo.username%><%=uInfo.gender != '保密' ? uInfo.gender == '男' ? '先生' : '女士' : ''%></ins><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li style='margin:0;font-size:18px;'><a href="/account/logout">退出</a></li>
                            </ul>
                        </li>
                    <%}else {%>
                        <li <% if (locals.login == 'login') {%> class="active" <%}%>><a href="/account/login">登录</a></li>
                        <li <% if (locals.reg == 'reg') {%> class="active" <%}%>><a href="/account/register">注册</a></li>
                    <%}%>
                    <li class='search'> 
                        <input name="search" type="text" id="search" placeholder="查询">                       
                        <a id='searchInput' class='glyphicon glyphicon-search' href="javascript:void(0)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
	<div class="container bak">
		<div class="col-xs-12">
			<div class="panel">
				<div class='panel-heading'>
					<h2>请注册</h2>
				</div>
				<div class='panel-body' style='margin: 50px 30px 70px 30px;'>
					<div class='text-left col-xs-6'>
						<form action="/account/register" method="post" id="reg">
							<div class="form-group">
								<label for="username">*&nbsp;用户名：</label>
								<input type="text" class="form-control username" name="username" id='username' placeholder="用户名">
							</div>
							<div class="form-group">
								<label for="passwd">*&nbsp;密码：</label>
								<input type="password" name="passwd" class="form-control passwd" id='passwd' placeholder="密码*">
							</div>
							<div class="form-group">
								<label for="rePasswd">*&nbsp;确认密码：</label>
								<input type="password" name="rePasswd" class="form-control rePasswd" id='rePasswd' placeholder="确认密码*">
							</div>
							<div class="form-group" style='padding:15px 0 20px 0;'>
								<div class='col-xs-3' style='padding-left:0;padding-right:0;'>
									<label for="gender">*&nbsp;性别：</label>
								</div>
								<div class='col-xs-3'>
									<input type="radio" value="男" name="gender" class='gender'/> &nbsp;&nbsp;男
								</div>
								<div class='col-xs-3'>
									<input type="radio" value="女" name="gender" class='gender' checked/>&nbsp;&nbsp;女
								</div>
								<div class='col-xs-3' style='padding-left:0;padding-right:0;'>
									<input type="radio" value="保密" name="gender" class='gender'/>&nbsp;&nbsp;性别不重要
								</div>
							</div>
							<div class="form-group">
								<label for="phone">*&nbsp;留电话?：</label>
								<input type="text" name="phone" class="form-control phone" placeholder="电话">
							</div>
							<div class="form-group">
								<label for="qq">*&nbsp;或QQ？：</label>
								<input type="text" name="qq" class="form-control qq" placeholder="扣扣">
							</div>
							<div class="form-group" id='email'>
								<label for="email">*&nbsp;要不邮箱？：</label>
								<input type="text" name="email" class="form-control email" placeholder="邮箱">
							</div>
							<div class="text-center err" style='margin-bottom: 20px;color:#f00;font-size:18px;'>
								<span class='errInfo'></span>
							</div>
							<div class='form-group text-center'>
								<input type="hidden" name="_csrf" value="<%-locals._csrf%>">						
								<button type='button' class="btn btn-success register" style='color:#fff;padding:8px 20px;'>立即注册</button>
							</div>
						</form>
					</div>
					<div class='text-right col-xs-6'>

					</div>
				</div>
			</div>
			<div>
				<div class='col-xs-6'>
					<button type='button' class="btn btn-danger cancel" style='color:#fff;padding:8px 20px;margin-left:15px;'>取消</button>
				</div>
				<div class='col-xs-6 text-right style='line-height:38px;'>
					<span>如果您遇到问题，欢迎随时提问：<b class='glyphicon glyphicon-earphone'></b>15989123456</span>
				</div>
			</div>
		</div>
	</div>
	<!--
    @require "common/static/css/footer.css"
-->
<div class="footer">
    <div style="text-center">
        <h4 class="title">客服热线</h4>
        <h1 style="font-size: 16px; margin-bottom: 6px;">4000-689-360</h1>
        <h3 style="margin-bottom: 15px; font-size: 14px; color: rgba(255,255,255,0.6);">(8:30~18:00)</h3>
        <ul class="list-inline join">
            <li>
                <a rel="nofollow" href="https://weibo.com/5371061117/profile"><span>关注微博</span><img src="../static/image/ico_weibo.png"></a>
            </li>
            <li>
                <a rel="nofollow" href="https://shang.qq.com/wpa/qunwpa?idkey=9282c8eca70dded38999d60812fb62e91b4d4ae02cb5442948b97175a0d5721c"><span>加入&nbsp;Q&nbsp;群</span><img src="../static/image/ico_qq.png"></a>
            </li>
        </ul>
    </div>
    <div class="copyright text-center">
        <div class="container">
            &copy; 2017 浩华潮流时装工作室 版权所有. <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备 17042595号</a>
        </div>
    </div>
</div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<script src="/static/common/lib/validator_b10db59.js"></script>
<script src="/static/account/index_de75a15.js"></script>
<script src="/static/common/js/header_6578a2d.js"></script>

</body>
</html>